.tile{
    background-color: rgb(238, 128, 192);
    color: white;
   aspect-ratio: 1;
}

 .Brent{
    width: 100px;
    height: 100px;
    float:left;
 }
 .savage{
    width: 100px;
    height: 100px;
    float: left;
 }
 .maneskin{
    width: 100px;
    height: 100px;
    float: left;
 }
 .d-Block{
    width: 100px;
    height: 100px;
    float: left;
 }
 .doja{
    width: 100px;
    height: 100px;
    float: left;
 }
.pink{
    width: 100px;
    height: 100px;
    float: left;
 }
.giveon{
    width: 100px;
    height: 100px;
    float: left;
}
.lilbaby{
    width: 100px;
    height: 100px;
    float: left;
}
.zubi{
    width: 100px;
    height: 100px;
    float: left;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
header{
    display: flex;
    justify-content: center;
}
main{
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
}
body{
    background-image: url(/Img/79672c94e23ee125b0a734ac6f2e0282.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}